<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309676427106-nvr9ot6ioknp0bakd1lgrudndhhunalt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309676427106-nvr9ot6ioknp0bakd1lgrudndhhunalt</string>
	<key>API_KEY</key>
	<string>AIzaSyAgLy9-zTWhUSRE3ioagU7y29ZpH0IMGYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>309676427106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techgebra.evantez</string>
	<key>PROJECT_ID</key>
	<string>eventes-dd7bd</string>
	<key>STORAGE_BUCKET</key>
	<string>eventes-dd7bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309676427106:ios:9206e1533a409d5190ce3b</string>
</dict>
</plist>